*{
 font-family: '幼圆';
}
.bg-img{
    height: 720px;
    width: 100%;
    filter: grayscale(100%) brightness(50%);
}
.div-content{
    position: absolute;
    top: 33%;
    width: 40%;
    left: 27%;
    text-align: center;
    border: 3px solid white;
    padding: 50px;
}
.big-word{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: '黑体';
}
.small-word{
    color: white;
    font-size: 20px;
   
}
.goto-btu{
    border: 1px black solid;
    width: 40%;
    font-size: 50px;
    font-weight: bold;
}